<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caculation</title>
  </head>
  <body>
    <form action="" method="POST">
      <table>
        <tr>
          <td>
            <input
              type="number"
              name="input_a"
              placeholder="Nhập số thứ nhất"
              required
            />
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="number"
              name="input_b"
              placeholder="Nhập số thứ hai"
              required
            />
          </td>
        </tr>
        <tr>
          <td>
            <select name="domath">
              <option value="+">Cộng</option>
              <option value="-">Trừ</option>
              <option value="x">Nhân</option>
              <option value="/">Chia</option>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Submit" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
